.html {
background-color: #739FFF;
}

#root {
  display: flex;
    justify-content: center;
    background-color: #EEF3EC;
    color: #464B46;


    background-color: #EEF3EC;
    /* background-image: repeating-linear-gradient(135deg, #eef3ec, #efffce 10%, transparent 10%, transparent 50% ),
     repeating-linear-gradient(-135deg, #eef3ec, #eef3ec 10%, transparent 10%, transparent 50% );
    background-size: 23px 42px; */
    /* #c4dbf6; */
}

.App {
  padding: 20px;
  max-width: 960px;
  display: flex;
  background-color: #EEF3EC;
  padding: 20px;
}

.title--block {
  text-align: center;
  line-height: 60px;
}

.design-element--block {
  font-size: 30px;
  line-height: 10px;
  padding-top: 15px;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loading-error {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
    background: linear-gradient(#eef3ec, #efffce, #eef3ec);
    flex-direction: column;
    height: 120px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.anime-information {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #ffffff; */
  /* border-width: thick;
  border-style: solid; */
    margin-top: 40px;
    /* margin-bottom: 40px; */
    /* border-right: #ffffff; */
    /* border-style: solid; */
    /* border-left: #ffffff;
    border-style: double;
    border-top: none;
    border-bottom: none; */
    backdrop-filter: blur(4px);
    background: linear-gradient(#eef3ec, #efffce, #eef3ec);
    flex-direction: column;
}

.anime-information--image-block {
  height: 330px;
  width: 266px;
  display: flex;
  align-items: center;
  align-content: center;
}
.anime-information--image-block img{
  display: flex;
    height: 300px;
    max-width: 250px;
}

.anime-information--text-block {
  display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px
}

.searched-anime--list {
  display: flex;
  max-width: 960px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#eef3ec, #efffce, #eef3ec);
  margin-top: 20px;
    gap: 36px 16px;
    height: 570px;
}

.searched-anime--list img {
  height: 250px;
  width: 175px;
  cursor: pointer;
}

.searched-anime--wrap {
  padding-top: 40px;
}

.anime-information--wrap {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.pages {
  display: flex;
  margin-right: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.page {
  padding: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 44px;
  cursor: pointer;
  justify-content: center;
}

.page--active {
  background-color: #efffce;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
    background: linear-gradient(#eef3ec, #efffce, #eef3ec);
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}

.not-found h4 {
  font-size: 120px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
